#hero{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;

    #overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        
        
        
        
        section{

            h1{
                font-family: 'Josefin Sans', sans-serif;
                
                
            }

            button{

            }
        }
    }
}